<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" a href="/components/Patterns/pc.css">
    <title>Pattern Search</title>
</head>
<body>
    <div class="logo">Welcome to The Whimsical Hooker's Page!</div>
    <nav>
        
        <div class="nav-items">
            <a href="/index.html">Home</a>
            <a href="/components/About/index.html">About Us</a>
            <a href="/components/Patterns/index.html">Patterns</a>
            <a href="/components/Contact/index.html">Contact Us</a>
            <a href="/components/Request/">Request a Pattern</a>
        </div>
    </nav>
    <div>
        <section class="p-link">
            <h1 class="h1">Patterns</h1>
        </section>
        <div class="h2">
            <h2>Organized Alphabetically!</h2>
            
            
        <section class="pattern-container">
            <div>
            <h3 class="h2">Patterns below!</h3></div><br>
            <div class="col-left">
            
            <a href="/components/pages/Resources/AF/EyeglassesMount.pdf">Eyeglasses Mount</a>
            </div>
            <div class="col-right">
            <img src="/components/pages/Resources/AF/OldMan.jpeg" alt="Old Man Crochet Eyeglass Mount" width="100" height="140">
        </div>
        </section>
        </div>
    </div>
</body>
</html>