<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" a href="/components/Patterns/pc.css">
       <title>Document</title>
</head>
<body>
    <div class="logo">Welcome to The Whimsical Hooker's Page!</div>
    <nav>
        
        <div class="nav-items">
            <a href="/components/About/index.html">About Us</a>
            <a href="/components/Patterns/index.html">Patterns</a>
            <a href="/components/Contact/index.html">Contact Us</a>
            <a href="/components/Request/">Request a Pattern</a>
        </div>
    </nav>
    <section class="p-link">
    <a href="/components/pages/Resources/AF/EyeglassesMount.pdf">Eyeglass Mount</a>
</section>
</body>
</html>