body {
    margin: 0;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: darkcyan;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.nav-items {
    height: 50px;
    background-color: cyan;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    font-weight: bold;
    font-size: 1rem;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

.p-link {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}



@media screen and (max-width: 768px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */
    main,
    nav {
      flex-direction: column;
    }
    /* Make the sidebar stack below the body */
    aside {
      order: 2;
    }
    /* Change the header background */
    header {
      background: #772014;
    }
    /* Change the navbar and footer background */
    nav,
    footer {
      background-color: #bb8588;
    }
  }