<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About The Whimsical Hooker</title>
    <link rel="stylesheet" a href="/components/About/au.css">
</head>
<body>
    <div class="logo">Welcome to The Whimsical Hooker's Page!</div>
    <nav>
        
        <div class="nav-items">
            <a href="/index.html">Home</a>
            <a href="/components/About/index.html">About Us</a>
            <a href="/components/Patterns/index.html">Patterns</a>
            <a href="/components/Contact/index.html">Contact Us</a>
            <a href="/components/Request/">Request a Pattern</a>
        </div>
    </nav>
    <h1>About The Whimsical Hooker</h1>
    <section>
        <p>
            Lindsay Klug is a crocheter based out of Ohio. Born and raised in west Texas, she holds an affinity for the desert.
        </p>
        <p>
            Lindsay has been crocheting since 2011. After discovering the joy of finishing a beanie, she has been unstoppable and now crafts original patterns for others to make.
        </p>
        <p>Other interests include nature walks, embroidery, writing, wood burning, sewing, quilting, and learning to play the banjo.</p>
        <p>
            Lindsay has ADHD, if you haven't figured that out yet. The hyperfixation of crocheting has been an ongoing one, and is now her favorite hobby.
        </p>
        <p>Lindsay welcomes any and all to join her on this amazing crochet journey!</p>
    </section>
</body>
</html>